body {
   background-image: url(./background 3.jpg);
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
.calculator {
   padding: 25px 20px;
   border-radius: 15px;
   box-shadow: 0 8px 20px rgba(255, 255, 255, 0.671);
   background-color: none;
   backdrop-filter: blur(2px);
    width: 310px;
}
#display {
  width: 100%;
  height: 70px;
  font-size: 2rem;
  font-family:Arial, Helvetica, sans-serif;
  text-align: right;
  border: none;
  outline: none;
  padding: auto;
  margin-bottom: 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.1);
}
.buttons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
}
.btn {
    background-color: #444;
    color: white;
    border: none;
    font-size: 1.2rem;
    padding: 18px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn:hover {
    background-color: #f5a700;
}
.equal {
    background-color: #f5a700;
    font-weight: bold;
}
.equal:hover {
    background-color: #3b3b34;
}

.btn:nth-child(1),
.btn:nth-child(2),
.btn:nth-child(3),
.btn:nth-child(4),
.btn:nth-child(8),
.btn:nth-child(12),
.btn:nth-child(16),
.btn:nth-child(20) {
    background-color: #ff7b00b6;
    
}
.btn:nth-child(1):hover,
.btn:nth-child(2):hover,
.btn:nth-child(3):hover,
.btn:nth-child(4):hover,
.btn:nth-child(8):hover,
.btn:nth-child(12):hover,
.btn:nth-child(16):hover,
.btn:nth-child(20):hover {
    background-color: #312e2e;
}

