* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
     'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000000;
    color: #e7e7e7;
    line-height: 1.5;
}
.gradient-image {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}
.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    
}
header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}
nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}
nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    align-items: center;
}
nav a:hover {
    color: #a7a7a7;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .face {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 10px;
   overflow: hidden;
    transition: .5s;
    justify-content: space-between;
     box-shadow: rgba(255, 255, 255, 0.664) 0 0 10px;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card .front img {
   position: absolute;
   width: 100%;
    height: 100%;
    object-fit: cover;
}   
.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #e0e0e0;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back {
   transform: perspective(600px) rotateY(180deg);
   background: #ffffffa9;
   padding: 15px;
   color: #000000;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}
.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;

}
.card .back .link a{
    text-decoration: none;
    color: #00000093;
    font-weight: bold;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
   letter-spacing: 1px;
}
.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}